
<div style="text-align:center">
  <h3>Angular Assignment 1</h3>    
</div>
<div>
<button type="button" class="btn btn-primary" routerLink="/userNames"
   routerLinkActive="active">User-Names</button> &nbsp;

<button type="button" class="btn btn-danger" routerLink="/item"
   routerLinkActive="active">Item Details</button> &nbsp;

<button type="button" class="btn btn-success" routerLink="/studentResult"
   routerLinkActive="active">Student Result Details</button> &nbsp;

<button type="button" class=" btn btn-warning"  routerLink="/userRegistration"
routerLinkActive="Active"> User Registration</button> &nbsp;
</div>

<router-outlet></router-outlet>
